@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;500;600;700&family=Quintessential&family=Ubuntu:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: auto;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Ubuntu',sans-serif;
}
body{
    background-color: #999;
    display: flex;
}
.signup{
    background: #fff;
    top: 10%;
    position: absolute;
    left:30%;
    padding: 32px;
    height: auto;
    width: 500px;
    border: 2px solid #111;
    border-radius: 6px ;
}
.signup h3{
    text-align: center;
    font-size: 32px;
    padding: 10px;
    border-bottom: 4px solid crimson;
    color:blue;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;

}
.signup form{
    text-align: center;
    padding: 10px;
    position: relative;
}
.signup form #username{
    font-size: 24px;
    color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
input[type=text]{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border:2px solid #111;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    background: none;
}
.signup form #email{
    font-size: 24px;
    color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
input[type=email]{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border:2px solid #111;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    background: none;
}
.signup form #phone{
    font-size: 24px;
    color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
input[type=tel]{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 2px solid #111;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    background: none;
}
.signup form #password{
    font-size: 24px;
    color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
input[type=password]{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border:2px solid #111;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    background: none;
}
.signup form #confirm_password{
    font-size: 24px;
    color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
input[type=password]{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border:2px solid #111;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    background: none;
}
.signup button{
    padding: 10px 8px;
    margin:10px;
    border-radius: 6px;
    box-shadow: #999;
    background: crimson ;
    transition: all 0.8s ease;
}
.signup button a{
    color:#111;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
}
.signup button:hover a{
    color: navajowhite;
}
.signup p a{
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    
}
.signup p{
    font-size: 18px;
    font-weight: 500;
    
}